<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="justify-content-start d-flex">
      <img src="favicon.ico" width="40">
      <a class="navbar-brand">&nbsp;Bienvenido</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <a class="nav-link active" aria-current="page">{{ usuario }} || {{ date | date:'medium' }} </a>
    </div>
  </div>
</nav>

<app-menu></app-menu>
<router-outlet></router-outlet>
<app-footer></app-footer>